#sign-up-container {
  display: flex;
  justify-content: center;
}

#sign-up-modal {
  width: 425px;
  padding: 30px 60px;
  box-sizing: content-box;
}

#sign-up-modal span {
  color: #f4642d;
}

form {
  margin-top: 20px;
}

#entries {
  display: flex;
  flex-direction: column;
}

#entries > div {
  margin-bottom: 20px;
}

.full-name {
  display: flex;
}

.first-name {
  margin-right: 20px;
}

.email {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
  flex-direction: column;
}

.xmark-icon {
  display: flex;
  justify-content: flex-end;
}

input {
  border-radius: 8px;
  padding: 10px 16px;
  box-sizing: border-box;
  height: 40px;
  width: 100%;
  border: 1px solid transparent;
  background-color: #f3f3f4;
  outline: none;
}

input:focus,
input:hover {
  border: 1px solid #f4642d;
  background-color: white;
}

.terms,
.publicApi {
  margin-bottom: 20px;
  font-size: 0.75rem;
}

.terms > input,
.publicApi > input {
  height: auto;
  width: auto;
}

button {
  border-radius: 8px;
  padding: 10px 16px;
  background-color: #f4642d;
  color: whitesmoke;
  width: 100%;
  border-style: none;
}

.policies {
  font-size: 0.75rem;
}

.fa-envelope,
.fa-lock {
  margin-right: 5px;
}

@media only screen and (max-width: 500px) {
  #sign-up-modal {
    padding: 0;
  }
}
